.image-custom{
    height: 6rem;
    width: 40%;
}

#tool{
    display: flex;
}

.au-btn--submit{
    text-transform: uppercase;
    color: white;
}

.main-content nav{
    float: right;
}

.au-input{
    border: 1px solid black;
}

.sufee-alert{
    display: none;
}
table {
    overflow-x: scroll;
}
.filter-year{
    width: 10rem;
    text-align: center;
}

.report-dashboard{
    margin: 2rem 0rem 2rem 2rem;
}